@model ShoppingCartProject.Models.CartItemModel

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Add</h2>

@using (Html.BeginForm("Update", "Home"))
{
    @Html.AntiForgeryToken()

    <table class="table">

        <tr>
            <td>
                #@Html.DisplayFor(Model => Model.ProductID)
                @Html.HiddenFor(Model => Model.ProductID)
            </td>
            <td>
                <img class="viewCartImg" src="~/Content/Images/Products/@(Model.ProductID).png" alt="Product #@Model.ProductID image" width="100" height="100" />
            </td>
            <td>
                @Html.DisplayFor(Model => Model.ProductName)
                @Html.HiddenFor(Model => Model.ProductName)
            </td>
            <td>
                $@Html.DisplayFor(Model => Model.Price)
                @Html.HiddenFor(Model => Model.Price)
            </td>

            <td>
                <div class="form-group">
                    @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", min = 1 } })
                        @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                    </div>
                </div>
            </td>
        </tr>
    </table>

    <input type="submit" value="Update" />

    @Html.ActionLink("Cancel", "Index");
}
