@model ShoppingCartProject.Models.CheckoutCartModel

@{
    ViewBag.Title = "My Shopping Cart";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>My Shopping Cart</h2>



@using (Html.BeginForm("SaveOrder", "Home"))
{
    @Html.AntiForgeryToken()

    <table class="table">
        @foreach (var item in Model.CartItems)
        {
            <tr>
                <td>
                    @Html.ActionLink("Remove", "Remove", new { prodId = item.ProductID })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductID)
                    @Html.HiddenFor(modelItem => item.ProductID)
                </td>
                <th>
                    <img class="viewCartImg" src="~/Content/Images/Products/@(item.ProductID).png" alt="Product #@item.ProductID image" width="100" height="100" />
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                    @Html.HiddenFor(modelItem => item.ProductName)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.Price)
                    @Html.HiddenFor(modelItem => item.Price)
                </td>
                <td>
                    <div class="form-group">
                        <label class="control-label col-md-2">Qty: </label>
                        <div class="col-md-10">
                            @Html.EditorFor(modelItem => item.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(modelItem => item.Quantity, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubTotal)
                </td>
            </tr>
        }
    </table>

    <div id="CheckoutInfo">
        <p>SubTotal: $@(Model.GetSubTotal())</p>
        <p>7% Tax: $@(Model.GetTax())</p>
        <p>Total: $@(Model.GetTotal())</p>
    </div>

    @Html.ActionLink("Go to checkout", "Checkout", new { })
    <input type="submit" value="Save Order" />
    @Html.ActionLink("Cancel Order", "CancelOrder")
}